body {
    background-image: url('vermin gifs/vermin misc/crackedice.jpg');
  }
  h1 {
    color: black;
    text-align: center;
  }
  p1 {
    color: black;
    text-align: center;
  }
  .selector
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
